.btnstarted{
    width: fit-content;
    margin: auto;
}
.btnstar1{
    background-color: aqua;
    border: none;
    color: white;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
}
.btnstar1:hover{
    background-color: rgb(34, 36, 43);
}

@media screen and (min-width:350px) and (max-width:769px){
    .home{
        width: 100%;
        margin-right: 0px;
    }
}